body {
	text-align: center;
	background-image: url("../images/round.png");
}

#page-wrap {
	width: 800px;
	margin: 0 auto;
	text-align: left;
}

#lyrics-container {
	text-align: center;
	font-family: 'Audiowide', cursive;
}

#song-results {
	text-align: center;
	font-family: 'Audiowide', cursive;
}

#similarity-percentage-button {
	text-align: center;
	float: left;
	font-family: 'Audiowide', cursive;
}

.jumbotron {
	font-family: 'Monoton', cursive;
	text-align: center;
	color: #479F5C;

}

.compareMatch{
	background-color : yellow;
}

#lyrics-results{

	margin-top: 100px;
}

#editor{
	background-color: white;
	border-radius: 5px;

}

.ql-toolbar{
	background-color: green;
		border-radius: 5px;
}

button{
	font-family: 'Audiowide', cursive;
}

h2{
	font-weight: 40px;
	font-size: 25px;
	margin-top: 20px;
}

p:hover{
	
}

/*.btn {
	color: #479F5C;
}
*/
